.modal-overlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.modal {
    width: 100%;
    max-width: 700px;
    padding: 20px;
}

.modal-content {
    background: white;
    width: 100%;
    max-width: 500px;

    border-radius: 16px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}